flask>=2.0.3
python-dotenv>=0.19.2
authlib>=1.0
requests>=2.27.1
Authlib
pandas
auth0-python
Flask-Cache
flask-cors
flask-httpauth
flask-login
flask-principal
flask-wtf
gunicorn
itsdangerous
Jinja2
MarkupSafe
psycopg2
pyjwt
requests
sortedcontainers
Werkzeug
wsgiref
wtforms




